Repository abhiTronix/vidgear, pull requests merged in 2022-02, with the labels that each got.

#283 🚧 NetGear: Bidirectional data transfer support to Multi-Clients and Multi-Servers mode.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/proposal.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/gears/netgear/advanced/bidirectional_mode.md
  docs/gears/netgear/advanced/multi_client.md
  docs/gears/netgear/advanced/multi_server.md
  docs/help/netgear_faqs.md
  vidgear/gears/netgear.py
  vidgear/tests/network_tests/test_netgear.py
Labels: ENHANCEMENT :zap:, MAINTENANCE :building_construction:, WORK IN PROGRESS :construction:, PENDING TESTS :test_tube:

#288 I found two bugs in StreamGear #287
  vidgear/gears/streamgear.py
Labels: BUG CONFIRMED :white_check_mark:, WORK IN PROGRESS :construction:, PENDING TESTS :test_tube:

#290 🐛 StreamGear : Fixed critical logging parameter bug.
  .gitignore
  README.md
  docs/gears/netgear/advanced/bidirectional_mode.md
  docs/gears/netgear/advanced/compression.md
  docs/gears/netgear/advanced/multi_client.md
  docs/index.md
  vidgear/gears/streamgear.py
  vidgear/gears/writegear.py
Labels: BUG 🐛, WORK IN PROGRESS :construction:, DOCS :scroll:

#293 Add "How to solve zmq.error.ZMQError" to FAQ
  docs/help/netgear_faqs.md
Labels: SOLVED :checkered_flag:, DOCS :scroll:

#295 Fix some example code issues
  docs/help/netgear_ex.md
Labels: BUG 🐛, WORK IN PROGRESS :construction:, DOCS :scroll:, CHANGE(S) REQUIRED :red_envelope:
