Repository abhiTronix/vidgear, pull requests merged in 2023-09, with the labels that each got.

#375 Writegear ffmpeg creationflag
  vidgear/gears/writegear.py
Labels: BUG :bug:, ENHANCEMENT :zap:, WORK IN PROGRESS :construction:

#378 Major enhancements and bugfixes
  docs/gears/netgear/params.md
  docs/gears/screengear/params.md
  docs/gears/screengear/usage.md
  docs/gears/writegear/compression/params.md
  docs/gears/writegear/non_compression/params.md
  docs/overrides/assets/images/screengear_region.png
  scripts/bash/prepare_dataset.sh
  vidgear/gears/netgear.py
  vidgear/gears/screengear.py
  vidgear/gears/stabilizer.py
  vidgear/gears/writegear.py
  vidgear/tests/network_tests/test_netgear.py
  vidgear/tests/writer_tests/test_compression_mode.py
  vidgear/tests/writer_tests/test_non_compression_mode.py
Labels: BUG :bug:, ENHANCEMENT :zap:, MAINTENANCE :building_construction:, WORK IN PROGRESS :construction:, PENDING TESTS :test_tube:

#379 🎉 Release VidGear Stable `v0.3.2`
  .github/FUNDING.yml
  .github/workflows/ci_linux.yml
  .github/workflows/deploy_docs.yml
  README.md
  appveyor.yml
  azure-pipelines.yml
  docs/changelog.md
  docs/gears/netgear/params.md
  docs/gears/screengear/params.md
  docs/gears/screengear/usage.md
  docs/gears/writegear/compression/params.md
  docs/gears/writegear/non_compression/params.md
  docs/index.md
  docs/installation.md
  docs/installation/pip_install.md
  docs/installation/source_install.md
  docs/overrides/assets/images/screengear_region.png
  scripts/bash/prepare_dataset.sh
  setup.py
  vidgear/gears/asyncio/webgear.py
  vidgear/gears/asyncio/webgear_rtc.py
  vidgear/gears/camgear.py
  vidgear/gears/netgear.py
  vidgear/gears/screengear.py
  vidgear/gears/stabilizer.py
  vidgear/gears/streamgear.py
  vidgear/gears/writegear.py
  vidgear/tests/network_tests/test_netgear.py
  vidgear/tests/streamer_tests/asyncio_tests/test_webgear_rtc.py
  vidgear/tests/writer_tests/test_compression_mode.py
  vidgear/tests/writer_tests/test_non_compression_mode.py
  vidgear/version.py
Labels: BUG :bug:, ENHANCEMENT :zap:, MAINTENANCE :building_construction:, WORK IN PROGRESS :construction:, NEW RELEASE :fire:, PENDING TESTS :test_tube:
